@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600");
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;        
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: #c8ebec;
    background-image: linear-gradient( #d6f1f1, #7fc9cc);
}        

main {
    /* background-image: url(../img/snow.png); */
    background-repeat: repeat-x;
}

.navbar {
    background-color: #8a081f; 
    margin-top: 0px; 
    margin-bottom: 0px;
}

.navbar-brand {
    font-size: 3rem;
    color: #ffffff;
    margin-bottom: 0px;
    margin-top: 0px;
}

.content {
    padding: 20px 40px 60px 40px;
    background-color: #ffffff;
    border-radius: 20px;
    background-image: url('../img/christmas_frame-1.png');
    background-repeat: repeat-x;
    background-position: bottom;
}

.content .title { 
    font-family: 'Great Vibes', cursive;
    font-size: 3.4rem;
    color: #8a081f;
    vertical-align: baseline;
}

.tree {
    margin:40px 40px 0px 40px;
    position: relative;
    display: inline-block;
}

.tree img {
    max-width: 100%;
    display: block;
}

.Masculino-0 {
    width:10%;
    height:10%;
    background-image: url(../img/little_boy-50px.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
}

.Feminino-0 {
    width:10%;
    height:10%;
    background-image:   url(../img/baby_girl-50px.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
}

.Masculino-1 {
    width:10%;
    height:10%;
    background-image: url(../img/little_boy-2-50px.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
}

.Feminino-1 {
    width:10%;
    height:10%;
    background-image:   url(../img/baby_girl-2-50px.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
}

.Masculino-2 {
    width:10%;
    height:10%;
    background-image: url(../img/little_boy-2-50px.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
}

.Feminino-2 {
    width:10%;
    height:10%;
    background-image:   url(../img/baby_girl-2-50px.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
}

.Masculino-0:hover > .pin-text {
    display: block;
    width: 150px;
}

.Feminino-0:hover > .pin-text {
    display: block;
    width: 150px;
}

.Masculino-1:hover > .pin-text {
    display: block;
    width: 150px;
}

.Feminino-1:hover > .pin-text {
    display: block;
    width: 150px;
}

.Masculino-2:hover > .pin-text {
    display: block;
    width: 150px;
}

.Feminino-2:hover > .pin-text {
    display: block;
    width: 150px;
}

.pin-text {
    text-align: center;
    position: absolute;
    top:50%;
    left:-140%;
    transform:translateY(-120%);
    white-space:nowrap;
    display: none;
    background-color: #ffd900;        
    border:2px solid #ffffff;
    border-radius: 15px;
    padding: 5px;
    z-index: 999;
}

.pin-text h3 {
    color:#000000;
    font-size: 1.1rem;
    font-weight: bold;
}
.pin-text p {
    color:#000000;
    font-size: 1.0rem;

}
.pin-text button {
    color:#ffffff;
    font-size: 1.0rem;
    padding: 5px 10px 5px 10px;
    margin: 10px;
    transition-duration: 0.4s;            
    background-color: #e23333; /* Green */
}

.pin-text button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}

#pin-1-1 { top:18%; left:37%; }
#pin-1-2 { top:23%; left:56%; }
#pin-1-3 { top:40%; left:62%; }
#pin-1-4 { top:30%; left:42%; }
#pin-1-5 { top:40%; left:32%; }
#pin-1-6 { top:43%; left:48%; }
#pin-1-7 { top:50%; left:35%; }
#pin-1-8 { top:53%; left:15%; }
#pin-1-9 { top:60%; left:30%; }
#pin-1-10 { top:66%; left:50%; }
#pin-1-11 { top:55%; left:50%; }
#pin-1-12 { top:50%; left:70%; }
#pin-1-13 { top:60%; left:85%; }
#pin-1-14 { top:60%; left:65%; }
#pin-1-15 { top:65%; left:5%; }
#pin-1-16 { top:70%; left:20%; }
#pin-1-17 { top:73%; left:35%; }
#pin-1-18 { top:73%; left:85%; }
#pin-1-19 { top:75%; left:50%; }
#pin-1-20 { top:35%; left:20%; }

.logo-arvore {
    padding: 0px 40px 0px 40px
}

.legenda {
    font-size: 0.8rem;
}

.numeros {
    font-size: 2.4rem;
    color: #39a9ad;
    margin: 0%;
    padding: 0%;
}

.painel {
    padding-top: 5px;
    background-color: #ebc90d;     
    color: #4d4b3a; 
    text-align: center; 
    font-weight: bold;
}

.painel-1 {
    padding-top: 5px;
    background-color: #f5e069;     
    color: #4d4b3a; 
    text-align: center; 
    font-weight: bold;
}

footer {
    background-color: #8a081f;
    background-image: linear-gradient(#c74059, #8a081f);
    background-repeat: repeat-x;
    padding: 10px 20px 1px 20px;
    margin-top: 30px;
}

footer .copyright {
    text-align: center;
    color: #fcc6c6;
    font-size: small;
}

.formulario {
    background-color: #ffffff;
    padding: 50px 30px 50px 30px;
    margin: 100px 0px 70px 0px;
    border-radius: 20px;
}

  /* Extra small devices (portrait phones, less than 576px) */
  @media (max-width: 575.98px) {  
    .content .title { 
        font-size: 2.8rem;
    }
    .legenda {
        font-size: 0.8rem;
    }
    
    .numeros {
        font-size: 1.6rem;
    }
  }
  
  /* Small devices (landscape phones, 576px and up) */
  @media (min-width: 576px) and (max-width: 767.98px) {  
    .content .title { 
        font-size: 2.8rem;
    }
    .legenda {
        font-size: 0.9rem;
    }
    
    .numeros {
        font-size: 1.8rem;
    }
  }
  
  /* Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) and (max-width: 991.98px) {  
    .content .title { 
        font-size: 3.6rem;
    }
    .legenda {
        font-size: 1.0rem;
    }
    
    .numeros {
        font-size: 2.2rem;
    }
  }
  
  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) and (max-width: 1199.98px) {  
      .content .title { 
        font-size: 2.8rem;
    }
    .legenda {
        font-size: 0.8rem;
    }
    
    .numeros {
        font-size: 1.8rem;
    } 
  }
  
  /* Extra large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) { 
    .legenda {
        font-size: 0.9rem;
    }
    
    .numeros {
        font-size: 2.0rem;
    } 
  }